
using System.Reflection;
using System.Resources;

// General Information
[assembly: AssemblyTitle("Safeguard Secrets Broker for Devops")]
[assembly: AssemblyDescription("Safeguard Secrets Broker for Devops")]
[assembly: AssemblyConfiguration("")]
[assembly: AssemblyCompany("One Identity LLC")]
[assembly: AssemblyProduct("SafeguardDevOpsService")]
[assembly: AssemblyCopyright("Copyright One Identity LLC (2020)")]
[assembly: AssemblyTrademark("One Identity LLC")]
[assembly: AssemblyCulture("")]

// Version information
[assembly: AssemblyVersion("<version>")]
[assembly: AssemblyFileVersion("<version>")]
[assembly: NeutralResourcesLanguageAttribute( "en-US" )]

