<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="Autofac.dll" Guid="*">
                <File Id="Autofac.dll" KeyPath="yes" Source="$(var.SourceDir)\Autofac.dll" />
            </Component>
            <Component Id="Autofac.Extensions.DependencyInjection.dll" Guid="*">
                <File Id="Autofac.Extensions.DependencyInjection.dll" KeyPath="yes" Source="$(var.SourceDir)\Autofac.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="AutofacSerilogIntegration.dll" Guid="*">
                <File Id="AutofacSerilogIntegration.dll" KeyPath="yes" Source="$(var.SourceDir)\AutofacSerilogIntegration.dll" />
            </Component>
            <Component Id="CredentialManagement.dll" Guid="*">
                <File Id="CredentialManagement.dll" KeyPath="yes" Source="$(var.SourceDir)\CredentialManagement.dll" />
            </Component>
            <Component Id="DevOpsPluginCommon.dll" Guid="*">
                <File Id="DevOpsPluginCommon.dll" KeyPath="yes" Source="$(var.SourceDir)\DevOpsPluginCommon.dll" />
            </Component>
            <Component Id="DevOpsPluginCommon.pdb" Guid="*">
                <File Id="DevOpsPluginCommon.pdb" KeyPath="yes" Source="$(var.SourceDir)\DevOpsPluginCommon.pdb" />
            </Component>
            <Component Id="LiteDB.dll" Guid="*">
                <File Id="LiteDB.dll" KeyPath="yes" Source="$(var.SourceDir)\LiteDB.dll" />
            </Component>
            <Component Id="Microsoft.AspNet.SignalR.Client.dll" Guid="*">
                <File Id="Microsoft.AspNet.SignalR.Client.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.AspNet.SignalR.Client.dll" />
            </Component>
            <Component Id="Microsoft.AspNetCore.JsonPatch.dll" Guid="*">
                <File Id="Microsoft.AspNetCore.JsonPatch.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.AspNetCore.JsonPatch.dll" />
            </Component>
            <Component Id="Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll" Guid="*">
                <File Id="Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll" />
            </Component>
            <Component Id="Microsoft.DotNet.PlatformAbstractions.dll" Guid="*">
                <File Id="Microsoft.DotNet.PlatformAbstractions.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.DotNet.PlatformAbstractions.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.Configuration.Abstractions.dll" Guid="*">
                <File Id="Microsoft.Extensions.Configuration.Abstractions.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.Configuration.Binder.dll" Guid="*">
                <File Id="Microsoft.Extensions.Configuration.Binder.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.Configuration.dll" Guid="*">
                <File Id="Microsoft.Extensions.Configuration.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.Configuration.FileExtensions.dll" Guid="*">
                <File Id="Microsoft.Extensions.Configuration.FileExtensions.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.Configuration.Json.dll" Guid="*">
                <File Id="Microsoft.Extensions.Configuration.Json.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="*">
                <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.DependencyInjection.dll" Guid="*">
                <File Id="Microsoft.Extensions.DependencyInjection.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.DependencyModel.dll" Guid="*">
                <File Id="Microsoft.Extensions.DependencyModel.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.DependencyModel.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.FileProviders.Abstractions.dll" Guid="*">
                <File Id="Microsoft.Extensions.FileProviders.Abstractions.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.FileProviders.Physical.dll" Guid="*">
                <File Id="Microsoft.Extensions.FileProviders.Physical.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.FileSystemGlobbing.dll" Guid="*">
                <File Id="Microsoft.Extensions.FileSystemGlobbing.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="*">
                <File Id="Microsoft.Extensions.Logging.Abstractions.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.Logging.dll" Guid="*">
                <File Id="Microsoft.Extensions.Logging.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.Options.dll" Guid="*">
                <File Id="Microsoft.Extensions.Options.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.Primitives.dll" Guid="*">
                <File Id="Microsoft.Extensions.Primitives.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="Microsoft.OpenApi.dll" Guid="*">
                <File Id="Microsoft.OpenApi.dll" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.OpenApi.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.Bson.dll" Guid="*">
                <File Id="Newtonsoft.Json.Bson.dll" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.Bson.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="*">
                <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.SourceDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="OneIdentity.SafeguardDotNet.dll" Guid="*">
                <File Id="OneIdentity.SafeguardDotNet.dll" KeyPath="yes" Source="$(var.SourceDir)\OneIdentity.SafeguardDotNet.dll" />
            </Component>
            <Component Id="RestSharp.dll" Guid="*">
                <File Id="RestSharp.dll" KeyPath="yes" Source="$(var.SourceDir)\RestSharp.dll" />
            </Component>
            <Component Id="SafeguardDevOpsService.deps.json" Guid="*">
                <File Id="SafeguardDevOpsService.deps.json" KeyPath="yes" Source="$(var.SourceDir)\SafeguardDevOpsService.deps.json" />
            </Component>
            <Component Id="SafeguardDevOpsService.dll" Guid="*">
                <File Id="SafeguardDevOpsService.dll" KeyPath="yes" Source="$(var.SourceDir)\SafeguardDevOpsService.dll" />
            </Component>
            <Component Id="SafeguardDevOpsService.exe" Guid="*">
                <File Id="SafeguardDevOpsService.exe" KeyPath="yes" Source="$(var.SourceDir)\SafeguardDevOpsService.exe" />
            </Component>
            <Component Id="SafeguardDevOpsService.pdb" Guid="*">
                <File Id="SafeguardDevOpsService.pdb" KeyPath="yes" Source="$(var.SourceDir)\SafeguardDevOpsService.pdb" />
            </Component>
            <Component Id="SafeguardDevOpsService.runtimeconfig.json" Guid="*">
                <File Id="SafeguardDevOpsService.runtimeconfig.json" KeyPath="yes" Source="$(var.SourceDir)\SafeguardDevOpsService.runtimeconfig.json" />
            </Component>
            <Component Id="SafeguardDevOpsService.xml" Guid="*">
                <File Id="SafeguardDevOpsService.xml" KeyPath="yes" Source="$(var.SourceDir)\SafeguardDevOpsService.xml" />
            </Component>
            <Component Id="Serilog.AspNetCore.dll" Guid="*">
                <File Id="Serilog.AspNetCore.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.AspNetCore.dll" />
            </Component>
            <Component Id="Serilog.dll" Guid="*">
                <File Id="Serilog.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.dll" />
            </Component>
            <Component Id="Serilog.Extensions.Autofac.DependencyInjection.dll" Guid="*">
                <File Id="Serilog.Extensions.Autofac.DependencyInjection.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Extensions.Autofac.DependencyInjection.dll" />
            </Component>
            <Component Id="Serilog.Extensions.Hosting.dll" Guid="*">
                <File Id="Serilog.Extensions.Hosting.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Extensions.Hosting.dll" />
            </Component>
            <Component Id="Serilog.Extensions.Logging.dll" Guid="*">
                <File Id="Serilog.Extensions.Logging.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Extensions.Logging.dll" />
            </Component>
            <Component Id="Serilog.Formatting.Compact.dll" Guid="*">
                <File Id="Serilog.Formatting.Compact.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Formatting.Compact.dll" />
            </Component>
            <Component Id="Serilog.Settings.Configuration.dll" Guid="*">
                <File Id="Serilog.Settings.Configuration.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Settings.Configuration.dll" />
            </Component>
            <Component Id="Serilog.Sinks.ColoredConsole.dll" Guid="*">
                <File Id="Serilog.Sinks.ColoredConsole.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Sinks.ColoredConsole.dll" />
            </Component>
            <Component Id="Serilog.Sinks.Console.dll" Guid="*">
                <File Id="Serilog.Sinks.Console.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Sinks.Console.dll" />
            </Component>
            <Component Id="Serilog.Sinks.Debug.dll" Guid="*">
                <File Id="Serilog.Sinks.Debug.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Sinks.Debug.dll" />
            </Component>
            <Component Id="Serilog.Sinks.File.dll" Guid="*">
                <File Id="Serilog.Sinks.File.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="Serilog.Sinks.RollingFile.dll" Guid="*">
                <File Id="Serilog.Sinks.RollingFile.dll" KeyPath="yes" Source="$(var.SourceDir)\Serilog.Sinks.RollingFile.dll" />
            </Component>
            <Component Id="Swashbuckle.AspNetCore.Annotations.dll" Guid="*">
                <File Id="Swashbuckle.AspNetCore.Annotations.dll" KeyPath="yes" Source="$(var.SourceDir)\Swashbuckle.AspNetCore.Annotations.dll" />
            </Component>
            <Component Id="Swashbuckle.AspNetCore.Newtonsoft.dll" Guid="*">
                <File Id="Swashbuckle.AspNetCore.Newtonsoft.dll" KeyPath="yes" Source="$(var.SourceDir)\Swashbuckle.AspNetCore.Newtonsoft.dll" />
            </Component>
            <Component Id="Swashbuckle.AspNetCore.Swagger.dll" Guid="*">
                <File Id="Swashbuckle.AspNetCore.Swagger.dll" KeyPath="yes" Source="$(var.SourceDir)\Swashbuckle.AspNetCore.Swagger.dll" />
            </Component>
            <Component Id="Swashbuckle.AspNetCore.SwaggerGen.dll" Guid="*">
                <File Id="Swashbuckle.AspNetCore.SwaggerGen.dll" KeyPath="yes" Source="$(var.SourceDir)\Swashbuckle.AspNetCore.SwaggerGen.dll" />
            </Component>
            <Component Id="Swashbuckle.AspNetCore.SwaggerUI.dll" Guid="*">
                <File Id="Swashbuckle.AspNetCore.SwaggerUI.dll" KeyPath="yes" Source="$(var.SourceDir)\Swashbuckle.AspNetCore.SwaggerUI.dll" />
            </Component>
            <Component Id="System.ServiceProcess.ServiceController.dll" Guid="*">
                <File Id="System.ServiceProcess.ServiceController.dll" KeyPath="yes" Source="$(var.SourceDir)\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="System.Threading.AccessControl.dll" Guid="*">
                <File Id="System.Threading.AccessControl.dll" KeyPath="yes" Source="$(var.SourceDir)\System.Threading.AccessControl.dll" />
            </Component>
            <Component Id="Topshelf.dll" Guid="*">
                <File Id="Topshelf.dll" KeyPath="yes" Source="$(var.SourceDir)\Topshelf.dll" />
            </Component>
            <Component Id="Topshelf.Serilog.dll" Guid="*">
                <File Id="Topshelf.Serilog.dll" KeyPath="yes" Source="$(var.SourceDir)\Topshelf.Serilog.dll" />
            </Component>
            <Component Id="TopShelf.ServiceInstaller.dll" Guid="*">
                <File Id="TopShelf.ServiceInstaller.dll" KeyPath="yes" Source="$(var.SourceDir)\TopShelf.ServiceInstaller.dll" />
            </Component>
            <Component Id="_appsettings.json" Guid="*">
                <File Id="_appsettings.json" KeyPath="yes" Source="$(var.SourceDir)\_appsettings.json" />
            </Component>
            <Directory Id="runtimes" Name="runtimes">
                <Directory Id="win" Name="win">
                    <Directory Id="lib" Name="lib">
                        <Directory Id="netstandard2.0" Name="netstandard2.0">
                            <Component Id="System.ServiceProcess.ServiceController.dll_1" Guid="*">
                                <File Id="System.ServiceProcess.ServiceController.dll_1" KeyPath="yes" Source="$(var.SourceDir)\runtimes\win\lib\netstandard2.0\System.ServiceProcess.ServiceController.dll" />
                            </Component>
                            <Component Id="System.Threading.AccessControl.dll_1" Guid="*">
                                <File Id="System.Threading.AccessControl.dll_1" KeyPath="yes" Source="$(var.SourceDir)\runtimes\win\lib\netstandard2.0\System.Threading.AccessControl.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DevOps_CommonAssemblies">
            <ComponentRef Id="Autofac.dll" />
            <ComponentRef Id="Autofac.Extensions.DependencyInjection.dll" />
            <ComponentRef Id="AutofacSerilogIntegration.dll" />
            <ComponentRef Id="CredentialManagement.dll" />
            <ComponentRef Id="DevOpsPluginCommon.dll" />
            <ComponentRef Id="DevOpsPluginCommon.pdb" />
            <ComponentRef Id="LiteDB.dll" />
            <ComponentRef Id="Microsoft.AspNet.SignalR.Client.dll" />
            <ComponentRef Id="Microsoft.AspNetCore.JsonPatch.dll" />
            <ComponentRef Id="Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll" />
            <ComponentRef Id="Microsoft.DotNet.PlatformAbstractions.dll" />
            <ComponentRef Id="Microsoft.Extensions.Configuration.Abstractions.dll" />
            <ComponentRef Id="Microsoft.Extensions.Configuration.Binder.dll" />
            <ComponentRef Id="Microsoft.Extensions.Configuration.dll" />
            <ComponentRef Id="Microsoft.Extensions.Configuration.FileExtensions.dll" />
            <ComponentRef Id="Microsoft.Extensions.Configuration.Json.dll" />
            <ComponentRef Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            <ComponentRef Id="Microsoft.Extensions.DependencyInjection.dll" />
            <ComponentRef Id="Microsoft.Extensions.DependencyModel.dll" />
            <ComponentRef Id="Microsoft.Extensions.FileProviders.Abstractions.dll" />
            <ComponentRef Id="Microsoft.Extensions.FileProviders.Physical.dll" />
            <ComponentRef Id="Microsoft.Extensions.FileSystemGlobbing.dll" />
            <ComponentRef Id="Microsoft.Extensions.Logging.Abstractions.dll" />
            <ComponentRef Id="Microsoft.Extensions.Logging.dll" />
            <ComponentRef Id="Microsoft.Extensions.Options.dll" />
            <ComponentRef Id="Microsoft.Extensions.Primitives.dll" />
            <ComponentRef Id="Microsoft.OpenApi.dll" />
            <ComponentRef Id="Newtonsoft.Json.Bson.dll" />
            <ComponentRef Id="Newtonsoft.Json.dll" />
            <ComponentRef Id="OneIdentity.SafeguardDotNet.dll" />
            <ComponentRef Id="RestSharp.dll" />
            <ComponentRef Id="SafeguardDevOpsService.deps.json" />
            <ComponentRef Id="SafeguardDevOpsService.dll" />
            <ComponentRef Id="SafeguardDevOpsService.exe" />
            <ComponentRef Id="SafeguardDevOpsService.pdb" />
            <ComponentRef Id="SafeguardDevOpsService.runtimeconfig.json" />
            <ComponentRef Id="SafeguardDevOpsService.xml" />
            <ComponentRef Id="Serilog.AspNetCore.dll" />
            <ComponentRef Id="Serilog.dll" />
            <ComponentRef Id="Serilog.Extensions.Autofac.DependencyInjection.dll" />
            <ComponentRef Id="Serilog.Extensions.Hosting.dll" />
            <ComponentRef Id="Serilog.Extensions.Logging.dll" />
            <ComponentRef Id="Serilog.Formatting.Compact.dll" />
            <ComponentRef Id="Serilog.Settings.Configuration.dll" />
            <ComponentRef Id="Serilog.Sinks.ColoredConsole.dll" />
            <ComponentRef Id="Serilog.Sinks.Console.dll" />
            <ComponentRef Id="Serilog.Sinks.Debug.dll" />
            <ComponentRef Id="Serilog.Sinks.File.dll" />
            <ComponentRef Id="Serilog.Sinks.RollingFile.dll" />
            <ComponentRef Id="Swashbuckle.AspNetCore.Annotations.dll" />
            <ComponentRef Id="Swashbuckle.AspNetCore.Newtonsoft.dll" />
            <ComponentRef Id="Swashbuckle.AspNetCore.Swagger.dll" />
            <ComponentRef Id="Swashbuckle.AspNetCore.SwaggerGen.dll" />
            <ComponentRef Id="Swashbuckle.AspNetCore.SwaggerUI.dll" />
            <ComponentRef Id="System.ServiceProcess.ServiceController.dll" />
            <ComponentRef Id="System.Threading.AccessControl.dll" />
            <ComponentRef Id="Topshelf.dll" />
            <ComponentRef Id="Topshelf.Serilog.dll" />
            <ComponentRef Id="TopShelf.ServiceInstaller.dll" />
            <ComponentRef Id="_appsettings.json" />
            <ComponentRef Id="System.ServiceProcess.ServiceController.dll_1" />
            <ComponentRef Id="System.Threading.AccessControl.dll_1" />
        </ComponentGroup>
    </Fragment>
</Wix>