<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="*" Name="SafeguardDevOpsService" Language="1033" Version="!(bind.fileVersion.OneIdentity.SafeguardSecretsBroker.PluginCommon.dll)" Manufacturer="!(loc.CompanyName)" UpgradeCode="8a0194a6-6aed-441c-8130-a81b96490bd7">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallFinalize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"  />

    <Property Id="ARPURLINFOABOUT">https://github.com/OneIdentity/SafeguardDevOpsService</Property>
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

    <SetProperty Id="_INSTALL"   After="FindRelatedProducts" Value="1"><![CDATA[Installed="" AND REMOVE="" AND UPGRADINGPRODUCTCODE="" AND WIX_UPGRADE_DETECTED=""]]></SetProperty>
    <SetProperty Id="_UNINSTALL" After="FindRelatedProducts" Value="1"><![CDATA[Installed<>"" AND REMOVE="ALL" AND UPGRADINGPRODUCTCODE=""]]></SetProperty>
    <SetProperty Id="_CHANGE"    After="FindRelatedProducts" Value="1"><![CDATA[Installed<>"" AND REINSTALL="" AND REMOVE=""]]></SetProperty>
    <SetProperty Id="_REPAIR"    After="FindRelatedProducts" Value="1"><![CDATA[Installed<>"" AND REINSTALL="ALL" AND UPGRADINGPRODUCTCODE=""]]></SetProperty>
    <SetProperty Id="_UPGRADE"   After="FindRelatedProducts" Value="1"><![CDATA[WIX_UPGRADE_DETECTED<>""]]></SetProperty>

    <Condition Message="32 bit windows is not supported.">
      VersionNT64
    </Condition>

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\install-banner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\install-panel.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\..\LICENSE.rtf"/>

    <Feature Id="ProductFeature" Title="SafeguardDevOpsService" Level="1">
			<ComponentGroupRef Id="DevOps_CommonAssemblies" />
		</Feature>

    <CustomAction Id="EXECUTE_INSTALL"
                  Execute="deferred"
                  Impersonate="no"
                  HideTarget="no"
                  Return="ignore"
                  FileKey="SafeguardDevOpsService.exe"
                  ExeCommand="install" />
    <CustomAction Id="EXECUTE_START"
                  Property="ExecuteCommand"
                  Execute="deferred"
                  Impersonate="no"
                  Return="ignore"
                  ExeCommand='/c sc start SafeguardDevOpsService /s /q' />
    <CustomAction Id="EXECUTE_STOP"
                  Execute="deferred"
                  Impersonate="no"
                  HideTarget="no"
                  Return="check"
                  FileKey="SafeguardDevOpsService.exe"
                  ExeCommand="stop" />
    <CustomAction Id="EXECUTE_UNINSTALL"
                  Execute="deferred"
                  Impersonate="no"
                  HideTarget="no"
                  Return="check"
                  FileKey="SafeguardDevOpsService.exe"
                  ExeCommand="uninstall" />
    <Property Id="ExecuteCommand">cmd.exe</Property>
    <CustomAction Id="CLEANUP_DATA_ON_UNINSTALL"
                  Property="ExecuteCommand"
                  Execute="deferred"
                  Impersonate="no"
                  Return="ignore"
                  ExeCommand='/c rmdir "[ProgramFiles64Folder]!(loc.ProductNameFolder)" /s /q' />
    <CustomAction Id="CLEANUP_EXT_DATA_ON_UNINSTALL"
                  Property="ExecuteCommand"
                  Execute="deferred"
                  Impersonate="no"
                  Return="ignore"
                  ExeCommand='/c rmdir "[CommonAppDataFolder]!(loc.ProductNameFolder)" /s /q' />
    <!--
      The following custom action is to fix an issue with the autofacserilogintegration.dll. The dll has a
      different product version but a 1.0.0 file version which is the same as ever previous version. So WiX
      thinks that the dll is not a newer version and fails to upgrade it. This code deletes the older version
      so that WiX will upgrade to the newer one.
    -->
    <CustomAction Id="CLEANUP_AUTOFACSERIINTEGRATION_DLL"
                  Property="ExecuteCommand"
                  Execute="deferred"
                  Impersonate="no"
                  Return="ignore"
                  ExeCommand='/c del "[ProgramFiles64Folder]!(loc.ProductNameFolder)\AutofacSerilogIntegration.dll"' />

    <InstallExecuteSequence>
      <Custom Action="EXECUTE_STOP" After="InstallInitialize">NOT _INSTALL</Custom>
      <Custom Action="EXECUTE_UNINSTALL" After="EXECUTE_STOP">NOT _INSTALL</Custom>
      <Custom Action="CLEANUP_AUTOFACSERIINTEGRATION_DLL" After="EXECUTE_UNINSTALL">_UPGRADE OR _CHANGE</Custom>
      <Custom Action="CLEANUP_DATA_ON_UNINSTALL" Before="InstallFinalize">_UNINSTALL</Custom>
      <Custom Action="CLEANUP_EXT_DATA_ON_UNINSTALL" After="CLEANUP_DATA_ON_UNINSTALL">_UNINSTALL</Custom>
      <Custom Action="EXECUTE_INSTALL" Before="InstallFinalize">NOT _UNINSTALL</Custom>
      <Custom Action="EXECUTE_START" After="EXECUTE_INSTALL">NOT _UNINSTALL</Custom>
    </InstallExecuteSequence>


  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLLOCATION" Name="!(loc.ProductNameFolder)" />
      </Directory>
    </Directory>
  </Fragment>

</Wix>
