<mat-drawer-container>
  <div class="app-header">
    <span>Safeguard Secrets Broker For DevOps</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="settingsMenu"><mat-icon>settings</mat-icon></button>
    <mat-menu #settingsMenu="matMenu">
      <button mat-menu-item (click)="logout()"><mat-icon>login</mat-icon>Log Out</button>
      <button mat-menu-item (click)="restart()"><mat-icon>refresh</mat-icon>Restart Secrets Broker</button>
      <button mat-menu-item (click)="deleteConfig()"><mat-icon>delete</mat-icon>Disconnect Current Appliance</button>
    </mat-menu>
  </div>
  <div class="main-container">
    <mat-card class="info-container">
      <div class="info-column">
        <div class="general-info-container">
          <img src="/assets/SafeguardLogo.png" width="80" height="80"/>
          <div class="general-info">
            <div class="info-label">Appliance</div>
            <div>{{ApplianceAddress}}</div>
            <p></p>
            <div *ngIf="DevOpsInstanceId">
              <div class="info-label">Dev Ops ID</div>
              <div>{{DevOpsInstanceId}}</div>
            </div>
          </div>
        </div>
        <button mat-flat-button class="monitoring-button start-monitoring" *ngIf="!isMonitoring && isMonitoringAvailable" (click)="updateMonitoring(true)">Start Monitoring</button>
        <button mat-flat-button class="monitoring-button stop-monitoring" *ngIf="isMonitoring && isMonitoringAvailable" (click)="updateMonitoring(false)">Stop Monitoring</button>
      </div>

      <div class="vertical-line"></div>
      <div class="loading-container" *ngIf="isLoading">
          <img class="spinner" src="/assets/busy-black.gif" />
      </div>
      <div class="info-column" *ngIf="Thumbprint">
        <div>Linked Safeguard Objects</div>
        <p></p>
        <div class="info-label">User Account</div>
        <div>{{UserName}}</div>
        <p></p>
        <div class="info-label">Appliance to Appliance Registrations</div>
        <div>{{A2ARegistrationName}}</div>
        <div>{{A2AVaultRegistrationName}}</div>
      </div>
      <div class="info-column" *ngIf="!isLoading">
        <div *ngIf="!Thumbprint" class='no-client-certificate'>
           <p class='bold'>Before we begin you must upload a Client Certificate</p>
           <p>Safeguard Secrets Broker for DevOps uses client certificate authentication to access the A2A
              service in Safeguard for Privileged Passwords. The most secure way to create this certificate
              is using a certificate signing request (CSR).</p>
           <p></p>
           <p>This can be either a PFX formatted certificate that includes the private key and a passphrase
              for decrypting that certificate, or it can receive a base64 (or PEM) encoded certificate that
              was issued based on a generated CSR.</p>

           <div class='buttons'>
              <div class='left'>
                <button mat-button (click)="createCSR('Client')" color="primary">Create a Certificate Signing Request (CSR)</button>
              </div>
              <div class='right'>
                <button mat-flat-button cdkFocusInitial (click)="addClientCertificate($event)" color="primary">Upload Certificate</button>
              </div>
           </div>
        </div>

        <ng-container *ngIf='Thumbprint'>
           <div class="info-label">Client Certificate</div>
           <div *ngIf="Thumbprint">
             <mat-icon class="green-icon">check_circle</mat-icon>
             <button mat-button class="custom-link" (click)="viewCertificate($event)">View Details</button>
           </div>

           <div class="info-label">Web Server Certificate</div>
           <div *ngIf="!webServerCertAdded">
              <button mat-button class='custom-link' (click)='addWebServerCertificate($event)' color='primary'>Add Certificate</button>
           </div>
           <div *ngIf="webServerCertAdded">
             <mat-icon class="green-icon">check_circle</mat-icon>
             <button mat-button class="custom-link" (click)="viewCertificate($event,'Web Server')">View Details</button>
           </div>

           <div class="info-label">Trusted Certificates</div>
           <div *ngIf="!trustedCertsAdded">
              <button mat-button class='custom-link' (click)='addTrustedCertificate($event)' color='primary'>Add Certificate</button>
           </div>
           <div *ngIf="trustedCertsAdded">
             <mat-icon class="green-icon">check_circle</mat-icon>
             <button mat-button class="custom-link" (click)="viewCertificate($event,'Trusted')">View Details</button>
           </div>
        </ng-container>
         </div>
    </mat-card>

    <ng-container *ngFor="let plugin of plugins">
      <div class="plugin-container configured" (click)="editPlugin(plugin)" *ngIf="plugin.IsConfigurationSetup">
        <div class="accounts-container">
          <div class="count">{{plugin.MappedAccountsCount}}</div>
          <div><div>Managed</div><div *ngIf="plugin.MappedAccountsCount == 1">Account</div><div *ngIf="plugin.MappedAccountsCount != 1">Accounts</div></div>
        </div>
        <div class="header">{{plugin.DisplayName}}</div>
        <div class="edit-text">Edit Configuration</div>
      </div>
    </ng-container>

    <div class="plugin-container unconfigured" *ngIf="plugins.length > 0" #unconfigured>
      <div class="header">What would you like to plug-in?</div>
      <div class="plugin-button-container">
        <ng-container *ngFor="let plugin of plugins">
          <ng-container *ngIf="!plugin.IsConfigurationSetup && plugin.IsUploadCustom">
            <input #fileSelectInputDialog type="file" style="display:none" (change)="onChangeFile($event.target.files)"  accept=".zip" />
            <button mat-stroked-button class="plugin-button" (click)="uploadPlugin(plugin)">
              {{plugin.DisplayName}}
            </button>
          </ng-container>
          <button *ngIf="!plugin.IsConfigurationSetup && !plugin.IsUploadCustom" mat-stroked-button class="plugin-button" (click)="editPlugin(plugin)">
            {{plugin.DisplayName}}
          </button>
        </ng-container>
      </div>
    </div>
    
    <div class="svg-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
        <defs>
          <marker id="markerBlack9" viewBox="-23 15 40 10" refX="-23" refY="15" markerWidth="20" markerHeight="20" orient="auto" fill="none" class="arrow-unconfigured">
            <path d="M 0 0 a 10,15 90,1,0 0,30 z m 0 10 h 15 v 2 h -15 m 0 8 h 15 v 2 h -15" />
          </marker>
          <marker id="markerCorbinOrange" viewBox="-23 15 40 10" refX="-23" refY="15" markerWidth="20" markerHeight="20" orient="auto" fill="none" class="arrow1">
            <path d="M 0 0 a 10,15 90,1,0 0,30 z" />
          </marker>
          <marker id="markerMauiSunset" viewBox="-23 15 40 10" refX="-23" refY="15" markerWidth="20" markerHeight="20" orient="auto" fill="none" class="arrow2">
            <path d="M 0 0 a 10,15 90,1,0 0,30 z" />
          </marker>
          <marker id="markerTikiSunrise" viewBox="-23 15 40 10" refX="-23" refY="15" markerWidth="20" markerHeight="20" orient="auto" fill="none" class="arrow3">
            <path d="M 0 0 a 10,15 90,1,0 0,30 z" />
          </marker>
          <marker id="markerAzaleaPink" viewBox="-23 15 40 10" refX="-23" refY="15" markerWidth="20" markerHeight="20" orient="auto" fill="none" class="arrow4">
            <path d="M 0 0 a 10,15 90,1,0 0,30 z" />
          </marker>
        </defs>
        <g fill="none" stroke-width="2" id="svgGroup">
        </g>
      </svg>
    </div>

  </div>

  <mat-drawer mode="over" position="end" disableClose="true" autosize #drawer>
    <app-edit-plugin *ngIf="openDrawerProperties"></app-edit-plugin>
    <app-select-accounts *ngIf="openDrawerAccounts"></app-select-accounts>
  </mat-drawer>
</mat-drawer-container>
