@import '../../colors.scss';

.dialog-content {
  max-width: 600px;
  width: 550px;
}

.label {
  color: $black-6;
  font-size: 13px;
}

.data {
  color: $gunmetal;
  margin-bottom: 20px;
  font-size: 16px;
}

.dialog-title-elements {
  display: flex;
  flex-direction: row;

  .title-text, .close-button {
    flex: 1 1 auto;
  }
    
  .title-text {
    font-size: 24px;
  }
    
  .close-button {
    text-align: right;

    & button.link-button .mat-icon {
      font-size: 32px;
      font-weight: 400;
      color: $black-9;
    }
  }
}

