@import '../../colors.scss';

.dialog-content {
  max-width: 600px;
  width: 550px;
  overflow: hidden;
}

.label {
  color: $black-6;
  font-size: 13px;
}

.data {
  color: $gunmetal;
  margin-bottom: 20px;
  font-size: 16px;
}

.green-icon {
  color: $aspen-green;
  vertical-align: top;
  font-size: 24px;
}

.yellow-icon {
  color: $corbin-orange;
  font-size: 24px;
  vertical-align: top;
}