@import '../../../colors.scss';

.details {
  color: $black-9;
  font-size: .7em;
  font-weight: 400;
  margin-top: -20px;
}

.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.mat-mdc-form-field-hint.bad-password {
  color: $phoenix-red;
  font-size: 12px;
}
