@import '../../colors.scss';

.root-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

table {
  width: 100%;
}

.main-container {
  padding-top: 20px;
  flex: 1;
}

.spinner-container {
  position: absolute;
  width: 100%;
  top: 0;

  mat-spinner {
    margin: 70px auto;
  }
}

.search-container {
  mat-form-field {
    margin-right: 10px;
    width: 100%;
  }
}

.header {
  background-color: $iris-blue;
  color: #ffffff;
  display: flex;
  height: 48px;

  .spacer {
    flex: 1;
  }
}

.selection-footer {
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  color: #ffffff;
  display: flex;

  .right {
    position:absolute;
    margin: 0 16px;
    right: 0;
  }

  .spacer {
    flex: 1;
  }
}

.createNew {
  margin-left: 20px;
}

.selectable-row:hover {
  cursor: pointer;
  background-color: $iris-pastel;
}

.table-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  tr.mat-header-row {
    height: 20px !important;
  }

  .mat-table {
    flex: 1;
  }

  .gridRadioButton {
    width: 20px;
    height: 20px;
  }
}