@import '../../colors.scss';

.csr-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-width: 400px;
}

.dn-builder-container {
  display: flex;
  flex-direction: column;
  margin: 0 -24px -24px -24px;
  background-color: #d3ebf2;
  padding: 20px;
}

.dn-builder-toggle {
  text-align: left;
  margin-bottom: 15px;
}

.dn-builder-actions {
  text-align: right;
}

.buttons {
  display: inline-block;

  .back-button {
    display: inline-block;
    text-align: left;
  }

  .create-csr-button {
    display: inline-block;
    text-align: right;
  }
}

.mat-dialog-actions {
  display: inline-block;

  &[align='end'] {
    text-align: right;
    width: 75%
  }

  &[align='left'] {
    text-align: left;
    width: 25%;
  }
}

:host ::ng-deep .text-with-chips > .mat-form-field-wrapper {
  padding-bottom: 10px;
}

:host ::ng-deep .subject-entry > .mat-form-field-wrapper {
  padding-bottom: 0;
}

.subject-alt-chip-list {
  margin-bottom: 20px;
}

:host ::ng-deep .mat-form-field.short-height .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

