<div mat-dialog-title>
   <div class='dialog-title-elements'>
      <div class='title-text'>{{certificateType}} Certificate</div>
      <div class='close-button'><button mat-icon-button class='link-button' mat-dialog-close tabindex='-1'><mat-icon>close</mat-icon></button></div>
   </div>
</div>
<div class='dialog-content' mat-dialog-content>
   <ng-container *ngIf='certificateType=="Client"'>
      <p>Safeguard Secrets Broker for DevOps uses client certificate authentication to access the A2A service in Safeguard for Privileged Passwords. The most secure way to create this certificate is using a certificate signing request (CSR).</p>
      <p>This can be either a PFX formatted certificate that includes the private key and a passphrase for decrypting that certificate, or it can receive a base64 (or PEM) encoded certificate that was issued based on a generated CSR.</p>
   </ng-container>
   <ng-container *ngIf='certificateType=="Web Server"'>
      <p>Safeguard Secrets Broker for DevOps uses TLS to authenticate itself and to protect its API. The first time it starts it generates a self-signed web server certificate. <button mat-button *ngIf="needsWebCertificate" class="link-button view-button" color="primary" (click)="viewCertificate()" disableRipple>View Web Server Certificate Details</button></p>
      <p>To ensure secure access this web certificate should be replaced. The most secure way to create this certificate is using a certificate signing request (CSR). This can be either a PFX formatted certificate that includes the private key and a passphrase for decrypting that certificate, or it can receive a base64 (or PEM) encoded certificate that was issued based on a generated CSR.</p>
   </ng-container>
   <div class="show-more-link">
    <button mat-button (click)="createCSR()" class='link-button' color="primary" disableRipple>Create Certificate Signing Request (CSR)</button>
  </div>

  <div *ngIf="certificateType=='Client'">
     <p></p>
     <p>A client certificate must be uploaded before Secrets Broker will work.</p>
  </div>
  <div *ngIf="certificateType=='Web Server'">
      <p></p>
      <p>Safeguard Secrets Broker for DevOps will be restarted so the new certificate can be applied.</p>
   </div>
</div>
<div mat-dialog-actions align="end">
  <div class="upload-button">
    <button mat-flat-button cdkFocusInitial (click)="browse()" color="primary">Upload Certificate</button>
  </div>
</div>
