<h1 mat-dialog-title>Add {{certificateType}} Certificate</h1>
<div class='dialog-content' mat-dialog-content>
   <ng-container *ngIf='certificateType=="Client"'>
      <p>Safeguard Secrets Broker for DevOps uses client certificate authentication to access the A2A service in Safeguard for Privileged Passwords. The most secure way to create this certificate is using a certificate signing request (CSR).</p>
      <p>This can be either a PFX formatted certificate that includes the private key and a passphrase for decrypting that certificate, or it can receive a base64 (or PEM) encoded certificate that was issued based on a generated CSR.</p>
   </ng-container>

  <div class="show-more-link" (click)="showCsr = !showCsr">
    <span *ngIf="!showCsr">Create Certificate Signing Request (CSR)</span>
    <span *ngIf="showCsr">Hide Certificate Signing Request (CSR)</span>
    <mat-icon aria-label="Show More" *ngIf="!showCsr && false">expand_more</mat-icon>
    <mat-icon aria-label="Show Less" *ngIf="showCsr && false">expand_less</mat-icon>
  </div>

  <div *ngIf="!showCsr && certificateType=='Client'">
     <p></p>
     <p> A client certificate must be uploaded before Secrets Broker will work.</p>
  </div>

  <div class="csr-container" *ngIf="showCsr">
    <mat-form-field appearance="outline">
      <mat-label>Subject Name</mat-label>
      <input matInput type="text" [(ngModel)]="subjectName" name="subjectName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>DNS Subject Alternative Names</mat-label>
      <textarea matInput matTextareaAutosize [(ngModel)]="dnsSubjectAlternativeNames" name="dnsSubjectAlternativeNames"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>IP Subject Alternative Names</mat-label>
      <textarea matInput matTextareaAutosize [(ngModel)]="ipSubjectAlternativeNames" name="ipSubjectAlternativeNames"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
       <mat-label>Key Size</mat-label>
       <select matNativeControl name="keySize" [(value)]='keySize'>
          <option value='1024'>1024</option>
          <option value='2048'>2048</option>
          <option value='4096'>4096</option>
       </select>
    </mat-form-field>
    <div>
      <a class="custom-link" (click)="createCSR($event, 'copy')" href="">Copy CSR</a><span class="divider">|</span><a class="custom-link" (click)="createCSR($event, 'download')" href="">Download CSR</a> 
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <div class="upload-button">
    <button mat-flat-button cdkFocusInitial (click)="browse()" color="primary">Upload Certificate</button>
  </div>
</div>
