<h1 mat-dialog-title>Add {{certificateType}} Certificate</h1>
<div class='dialog-content' mat-dialog-content>
   <ng-container *ngIf='certificateType=="Client"'>
      <p>Safeguard Secrets Broker for DevOps uses client certificate authentication to access the A2A service in Safeguard for Privileged Passwords. The most secure way to create this certificate is using a certificate signing request (CSR).</p>
      <p>This can be either a PFX formatted certificate that includes the private key and a passphrase for decrypting that certificate, or it can receive a base64 (or PEM) encoded certificate that was issued based on a generated CSR.</p>
   </ng-container>

   <div class="show-more-link">
    <button mat-button (click)="createCSR(certificateType)" color="primary">Create a Certificate Signing Request (CSR)</button>
  </div>

  <div *ngIf="certificateType=='Client'">
     <p></p>
     <p> A client certificate must be uploaded before Secrets Broker will work.</p>
  </div>
</div>
<div mat-dialog-actions align="end">
  <div class="upload-button">
    <button mat-flat-button cdkFocusInitial (click)="browse()" color="primary">Upload Certificate</button>
  </div>
</div>
