@import '../../colors.scss';

.root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.monitor-status-header {
  display: flex;
  align-items: baseline;
}

.info-label {
  font-size: .85em;
  color: $black-9;
}

.sub-title {
  color: $black-9;
}

table {
  width: 100%;
}

/* Override the default extra padding */
.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0;
}

.detail-row {
  font-size: .85em;
  color: $black-9;
}

.detail-row-success {
  font-size: .85em;
  color: $aspen-green;
}

.detail-row-failure {
  font-size: .85em;
  color: $phoenix-red;
}

.main-container {
  background-color: $asher-gray;
  padding: 20px;
  width: 600px;
  flex: 1;
  overflow: auto;
}

.spinner-container {
  position: absolute;
  width: 100%;
  top: 0;

  mat-spinner {
    margin: 70px auto;
  }
}

.search-container {
  mat-form-field {
    margin-right: 10px;
  }
}

.header {
  background-color: $black-6;
  color: #ffffff;
  display: flex;

  .spacer {
    flex: 1;
  }
}

.selection-footer {
  background-color: $black-6;
  color: #ffffff;
  display: flex;

  .spacer {
    flex: 1;
  }
}

.selectable-row:hover {
  cursor: pointer;
  background-color: $iris-pastel;
}

.table-container {
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: column;

  .mat-mdc-table {
    flex: 1;
  }
}
