@import '../colors.scss';

:host {
  width: 100%;
  height: 100%;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}