@import './colors.scss';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$WebsiteUI-primary: mat-palette($iris-blue-palette);
$WebsiteUI-accent: mat-palette($iris-blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$WebsiteUI-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$WebsiteUI-theme: mat-light-theme((
  color: (
    primary: $WebsiteUI-primary,
    accent: $WebsiteUI-accent,
    warn: $WebsiteUI-warn,
  )
));

$custom-typography: mat-typography-config(
  $font-family: 'Source Sans Pro',
);
@include angular-material-typography($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($WebsiteUI-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: "Source Sans Pro","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  background-color: $asher-gray;
}