<div class='save-csr-container'>
   <h1>
      Save {{csr.CertificateType}} Certificate CSR
   </h1>

   <div class="formNewLine"></div>

   <div class='instructions'>Either save the CSR to a file or copy to the clipboard and submit to your CA.</div>

   <div class="formNewLine"></div>

   <textarea cols='70' rows='25' readonly>{{csr.Base64RequestData}}</textarea>

   <div class='button-container'>
      <button mat-button color="primary" matDialogClose>Cancel</button>
      <button mat-flat-button color="primary" (click)="save()">Save</button>
   </div>
</div>

